/* Background */
body {
    background: linear-gradient(to bottom, #fde82d8a, #fff6f6);
    margin: 0;
    padding: 0;
}

/* Centered container for webpage view */
.form-container {
    width: 90%;
    max-width: 1100px;
    margin: 25px auto;
    background: #ffffff;
    padding: 30px;
    /* border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15); */
    position: relative;
}

/* For PDF full width preview */
.form-container.pdf-full {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
}

/* Header */
.custom-header {
    text-align: center;
}

.header-bg {
    background: #f4d03f;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #ccc;
}

.hindi-title {
    font-size: 42px;
    font-weight: bold;
    color:#059218;
}

.green-text { color:#059218; }

.abroad-logo {
    font-size: 36px;
    margin-top: -5px;
    font-weight: bold;
    color: #f71818;
}

/* Section title */
.section-title {
    font-size: 18px;
    color: #fff;
    background: #fc8600;
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
    font-weight: bold;
}

/* Inputs */
input, textarea, select {
    border: 1px solid #aaa;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.small-input { width: 120px; }
.date-field { width: 160px; }

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
}

th {
    background: #f7e64f;
    color: #700000;
    font-weight: bold;
}

.responsive-table input {
    width: 90%;
}

/* PDF Button */
/* .download-btn {
    background: #fb8601;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    float: right;
    font-weight: bold;
    cursor: pointer;
} */

.download-btn {
    background: #fb8601;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;

    position: fixed;       /* stays visible */
    bottom: 5px;          /* 20px above bottom */
    left: 50%;             /* center horizontally */
    transform: translateX(-50%);  /* perfect center adjustment */
    z-index: 2000;
}

.download-btn:hover {
    background: #f83c03;
}

/* Mobile */
@media (max-width: 600px) {
    .download-btn {
        padding: 10px 15px;
        font-size: 12px;
    }
}




/* Signature */
.signature {
    font-size: 18px;
    font-weight: bold;
    float: right;
    margin-top: 20px;
}

/* Fill note */
.fill-note {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

